body {
	background-color: #f7f7f7;
	margin: 0;
	padding: 0;
}

.container {
	margin-top: 30px;
}

h1 {
	text-align: center;
    margin: 0; /* Elimina el margen superior e inferior */
    color: white; /* Cambia el color del texto a blanco */
}

.card {
	margin-bottom: 50px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra */
}

.card-img-top {
	height: 300px; 
	object-fit: cover;
	width: 100%; 
}

.card-title {
	font-size: 30px;
}

.card-text {
	margin-bottom: 10px;
}

.btn-primary {
	width: 100%;
}

/* Estilos para la barra de navegación */
/* Estilos para la barra de navegación */
.navbar {
    background-color: #343a40; /* Color de fondo de la barra de navegación */
}

.navbar-brand {
    font-size: 24px; /* Tamaño de fuente del título */
}

.navbar-nav .nav-link {
    color: #ffffff; /* Color del texto de los enlaces */
    font-size: 18px; /* Tamaño de fuente de los enlaces */
}

.navbar-nav .nav-link:hover {
    color: #ffffff; /* Cambia el color del texto al pasar el mouse sobre los enlaces */
    opacity: 0.8; /* Opacidad del texto al pasar el mouse sobre los enlaces */
}

/* Footer */
footer {
    clear: both; /* Borra los flotadores */
    background-color: #273746; /* Color de fondo */
    color: white; /* Color del texto */
    padding: 10px; /* Espaciado interno */
    text-align: center;
}

@media screen and (max-width: 500px) {
    .containere {
        padding: 20px 10px; /* Reduce el padding en pantallas pequeñas */
    }

    ul {
        flex-direction: column; /* Apila los elementos de la lista verticalmente */
        align-items: center; /* Centra los elementos de la lista */
    }

    ul li {
        margin: 0.5rem 0; /* Agrega espacio entre los elementos de la lista */
    }
}
